
body {
  font-family: "Karla", sans-serif;
  background-color: #d0d0ce;
  min-height: 100vh; }

.brand-wrapper {
  margin-bottom: 19px; }
  .brand-wrapper .logo {
    height: 37px; }

.login-card {
  border: 0;
  border-radius: 9px;
  // box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; }
  .login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .login-card .card-body {
    padding: 25px 83px 20px; }
    @media (max-width: 422px) {
      .login-card .card-body {

        padding: 35px 24px;
         } }
         @media (max-width: 422px) {
          .imagetext{
            display: none;
             } }
  .login-card-description {
    font-size: 25px;
    color: #000;
    margin: 0;
    font-weight: normal;
   }
   .login-card {
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.20);
   }
  .login-card .form-control {
    border: 1px solid #d5dae2;
    
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal; }
    .login-card .form-control::-webkit-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-moz-placeholder {
      color: #919aa3; }
    .login-card .form-control:-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::placeholder {
      color: #919aa3; }
  .login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; }
    .login-card .login-btn:hover {
      border: 1px solid #000;
      background-color: transparent;
      color: #000; }
  .login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px; }
  .login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px; }
    @media (max-width: 767px) {
      .login-card-footer-text {
        margin-bottom: 24px; } }
  .login-card-footer-nav a {
    font-size: 14px;
    color: #919aa3; }

/*# sourceMappingURL=login.css.map */

.main {
  background:#0f0f0fdb;;
}

.alert {
  position: relative;
    padding: 2px 0px 2px 24px;
    /* margin-bottom: 1rem; */
    font-size: 10px;
    margin-top: -16px;
    margin-bottom: -3px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

form {
  height: 275px;
}

.imagesdiv {
 
    width: 100%;
    margin: -6px;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
   
}

.b-images1 {
  text-align: center;
  padding: 0px ;
  margin-left: 14px;
  margin-bottom: 22px;
  border: 1px solid #9c9797;
  border-radius: 3px;
  cursor: pointer;
}
.b-images2 {
  text-align: center;
  padding: 0px;
  margin-left: 14px;
  margin-bottom: 22px;
  border: 1px solid #9c9797;
  border-radius: 3px;
  cursor: pointer;
}
.image {
  height: 119px;
  width: 140px;
}
.checked {
  position: absolute;
  height: 27px;
  width: 28px;
  background: #c5c1c1;
  margin: 0;
  padding: 0;
  bottom: -13px;
  right: -13px;
  border-radius: 23px;
}
.names {
  font-size: 16px;
  color: darkgray;
  font-family: monospace;
}
.name1 {
  color:black;
}
.fa-check:before {
  vertical-align: sub;
}
 #icon {
  height: 50px;
  margin: 2px 0px 13px 0px;
 }
 label {
  font-size: 13px;
  color: darkslategrey;
  letter-spacing: 1px;
 }
 .imagetext{
  position: absolute;
  color: #ffffff;
  z-index: 1;
  top: 50%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  word-spacing: 4px;
  text-decoration: underline;
  letter-spacing: 9px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }