
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0 main">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-6">
          <p class="imagetext">Welcome User</p>
          <img src="../../../assets/images/image(1).png" alt="login"  class="login-card-img">
        </div>
        <div class="col-md-6">
          <div class="card-body text-center">
            <img src="../../../assets/images/logo (1).png"  id="icon" alt="Icon" />
            <form [formGroup]="loginForm" action="#!" class="col-md">
                <div class="form-group text-left" >
                  <label class="m-0 ">Email</label>
                  <input type="email" name="email" formControlName="userName" id="email" class="form-control" placeholder="Email address">
                  <div *ngIf="loginForm.controls['userName'].invalid && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)" class="alert alert-danger text-left">
                    <div *ngIf="loginForm.controls['userName'].errors.required">
                      Email is required.
                    </div>
                </div>
                </div>
                <div class="form-group mb-4  text-left">
                  <label class="m-0">Password</label>
                  <input type="password" formControlName="password" name="password" id="password" class="form-control" placeholder="***********">
                  <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger text-left">
                    <div *ngIf="loginForm.controls['password'].errors.required">
                      Password is required.
                    </div>
                </div>
                </div>
                <input name="login" id="login" (click)="login()" class="btn btn-block login-btn" type="button" value="Login">
               
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-spinner *ngIf="isLoading"></app-spinner>