.dummy1 {
    background: #eeeeee !important;
    border-radius: 4px !important;
    color: #777777 !important;
}

.sidebar-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.svg-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;

    &.covid {
        background-image: url('/assets/images/covid.svg');
        background-repeat: no-repeat;
    }
    &.officer {
        background-image: url('/assets/images/officers_new.svg');
        background-repeat: no-repeat;
    }
    &.eo {
        background-image: url('/assets/images/police');
        background-repeat: no-repeat;
    }

    &.terminal {
        background-image: url('/assets/images/terminal.svg');
        background-repeat: no-repeat;
    }

    &.driver {
        background-image: url('/assets/images/driver.svg');
        background-repeat: no-repeat;
    }
    &.expense {
        background-image: url('/assets/images/expense.svg');
        background-repeat: no-repeat;
    }
    &.payout {
        background-image: url('/assets/images/payout.svg');
        background-repeat: no-repeat;
    }

}

