<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->

<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="[menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon *ngIf="!menuitem.svgIcon && !menuitem.iconUrl" [style.color]="menuitem.iconColor">{{ menuitem.icon }}</mat-icon> 
            <ng-container *ngIf="menuitem.svgIcon">
                <object type="image/svg+xml" class="svg-icon {{ menuitem.svgIcon }}"></object>
            </ng-container>
            <span *ngIf="menuitem.iconUrl"  class="icon mr-2"> <img src="{{menuitem.iconUrl}}"></span>
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>

        
    </mat-list-item>

</mat-nav-list>