<!-- <div class="content-wrapper">
  <div class="container-fluid form-t1"> -->
    <!-- filters -->
    <!-- <div class=" row col-md-12 mt-3">
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Status</mat-label>
            <mat-select [(value)]="searchUserStatus">
              <mat-option value="all">All Users</mat-option>
              <mat-option value="active">Active</mat-option>
              <mat-option value="blocked">Blocked</mat-option>
              <mat-option value="suspended">Suspended</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Type</mat-label>
            <mat-select  [(value)]="searchBy">
              <mat-option value="all">Select</mat-option>

              <mat-option value="email">Email</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'email'" class="col-md-3 col-sm-3 ">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter email" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'mobile'" class="col-md-3 col-sm-3">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter mobile(w/o +1)" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="picker" placeholder="start date"
              [(ngModel)]="searchStartDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="endpicker" placeholder="end date"
              [(ngModel)]="searchEndDate" />
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div> -->
      <!-- filters end -->
  
      <!-- buttons -->
      <div class="row col-md-12">
        <div class=" col-md-5 col-sm-7">
          <!-- <button class="btn btn-info mb-2 " (click)="searchFiltersBtn()">Search</button> -->
          <!-- <app-searchbtn (click)="searchFiltersBtn()" ></app-searchbtn>
          <app-resetbtn (click)="onReset()" class="ml-2"></app-resetbtn> -->
        </div>
        <div class="col-md-7  col-sm-5">
          <div class="form-group pagination " style="float:right">
            <label class="mr-3" style="line-height: 40px;">Records</label>
            <div>
              <select class="form-control" [(ngModel)]="pageLimit">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
          </div>
        </div>
      </div>
  
      <!-- buttons end -->
      <!--User table -->
      <div class="row">
        <div class="col-12">
          <ngx-datatable #table class="bootstrap" [rows]="List" [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [limit]="pageLimit" [rowHeight]="'auto'"
            [reorderable]="reorderable" [scrollbarH]="true">
            <ngx-datatable-column name="School Name">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.name ? row.name : "NA" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.status ? row.status : "NA" }}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Profile pic">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span *ngIf="row.profilePic">
                  <img (click)="swalImage(row.profilePic)" src="{{ row.profilePic ? row.profilePic : 'NA' }}" class="image_">
                </span>
                <span *ngIf='!row.profilePic'>--</span>
              </ng-template>
            </ngx-datatable-column> -->
              <!-- <ngx-datatable-column name="Profession" width="200">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  {{ row.profession ? row.profession : "NA" }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="License state" width="200">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.licenseState ? row.licenseState : "NA" }}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Practice years" width="200">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{ row.practiceYear ? row.practiceYear : "NA" }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="V-score" width="200">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            {{ row.vScore ? row.vScore : "NA" }}
          </ng-template>
      </ngx-datatable-column> -->
            
         
            <!-- <ngx-datatable-column name="User type">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.userType ? row.userType : "NA" }}
              </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Created on">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.insertDate * 1000 | date: "MM/dd/yyyy HH:mm:ss" }}
              </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Actions">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <img src="../../../../assets/images/change.png"  #statusBtn (click)="updateUserStatusModal(row,updateStatus,statusBtn)" style="cursor:pointer;height:15px;margin-right:2px" > 
               
              </ng-template>
            </ngx-datatable-column> -->
          </ngx-datatable>
        </div>
      </div>
      <!--User table end -->
    <!-- </div>
  </div> -->

  
  <app-spinner *ngIf="isLoading"></app-spinner>



  <ng-template #updateStatus let-modal>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
   
      </h4>
      <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
<div class="container">
  <form [formGroup]="statusForm">
  <div class="content">
    <mat-form-field class="mat-form w-100">
      <mat-label>Update company status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="accept">Accept</mat-option>
        <mat-option value="reject">Reject</mat-option>
        
      </mat-select>
    </mat-form-field>
    <!-- <div >
      <mat-form-field class="example-full-width mat-form w-100">
        <input matInput placeholder="Enter email" [(]="searchText" />
      </mat-form-field>
    </div> -->
  </div>
  </form>

</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success rounded" (click)="updateUserStatus()">
        Save Changes
      </button>
      <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
        Close
      </button>
    </div>
  </ng-template>  