
.dh-grah {
    margin: 0;
    padding: 0;
    }
    
    .card {
      font-weight: 400;
      border: 0;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .testimonial-card .card-up {
      height: 50px;
      overflow: hidden;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }
    .color1 {
      // background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
      background: #008080 !important;
    }
    .color2 {
      // background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
      background: #bada55 !important;
    }
    .color3 {
      // background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
      background: #6495ED !important;
    }
    .color4 {
      // background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
      background: #808080 !important;
    }
    .color5 {
      // background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
      background: #f6546a !important;
    }
    .color6 {
      // background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
      background: #20B2AA !important;
    }
    .testimonial-card .avatar {
      width: 70px;
      margin-top: -36px;
      overflow: hidden;
      text-align: center;
      border: 5px solid #e0e0e0;
      border-radius: 50%;
      background:white;
    }
    .testimonial-card .avatar img {
      width: 100%;
    }
    .rounded-circle {
      border-radius: 50% !important;
    }
    img {
      vertical-align: middle;
      border-style: none;
    }
    .card-body {
      margin:0;
      padding:0;
    }
    .testimonial-card .card-body {
      text-align: center;
    }
    .card-title {
      margin-bottom: 2px;
      margin-bottom: 2px;
        margin-top: 2px;
        font-size: 20px;
        color: #5f6d75;
        font-weight: bold;
    }
    hr {
      margin-top: 0rem;
      margin-bottom: 2px;
      border: 0;
      border-top: 1px solid rgba(0,0,0,0.1);
    }
    p {
      margin-top: 0;
      margin-bottom: 2px;
      font-size: 18px;
      font-weight: bold;
      color: #1d2136c4;
    }
    .icon {
      font-size: 50px;
      margin: 0px;
      padding: 5px;
    }
    
    .pieChart_name {
      display: block;
      text-align:center;
      color: #6f6060;
      text-decoration: underline;
    }
    
    .pieChartParentDiv {
      margin:0;
      padding:0;
    }

    .out {
          background: white;
    padding: 14px;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px -1px #a7a7a7;
    height: 100%;
    }
    .inn {
      background:#5783951c;
padding: 10px;
border-radius: 16px;
    }