<!-- <div class="content-wrapper">
  <div class="container-fluid form-t1"> -->
    <!-- filters -->
    <!-- <div class=" row col-md-12 mt-3">
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Status</mat-label>
            <mat-select [(value)]="searchUserStatus">
              <mat-option value="all">All Users</mat-option>
              <mat-option value="active">Active</mat-option>
              <mat-option value="blocked">Blocked</mat-option>
              <mat-option value="suspended">Suspended</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Type</mat-label>
            <mat-select  [(value)]="searchBy">
              <mat-option value="all">Select</mat-option>
              
              <mat-option value="email">Email</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'email'" class="col-md-3 col-sm-3 ">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter email" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'mobile'" class="col-md-3 col-sm-3">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter mobile(w/o +1)" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="picker" placeholder="start date"
              [(ngModel)]="searchStartDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="endpicker" placeholder="end date"
              [(ngModel)]="searchEndDate" />
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div> -->
      <!-- filters end -->
  
      <!-- buttons -->
      <!-- <div class="row col-md-12">
          <app-searchbtn (click)="searchFiltersBtn()"></app-searchbtn>
          <app-resetbtn (click)="onReset()"></app-resetbtn>
        </div> -->
        <div class="col-md-12 row mt-3 p-0 m-0 align-items-center">
            <div class="col">
              <app-add-btn #statusBtn (click)="openModal('row',updateStatus,statusBtn,'add')" ></app-add-btn>
                <!-- <button #statusBtn (click)="openModal('row',updateStatus,statusBtn,'add')" class="btn btn-primary addbtn">Add</button> -->
            </div>
            <div class="col-md-8 " style="top:15px">
                <div class="form-group pagination " style="float:right">
                  <label class="mr-3" style="line-height: 40px;">Records</label>
                  <div>
                    <select class="form-control" [(ngModel)]="pageLimit">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
              </div>
          
        </div>
  
      <!-- buttons end -->
      <!--User table -->
      <div class="row">
        <div class="col-12">
          <ngx-datatable #table class="bootstrap" [rows]="list" [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [limit]="pageLimit" [rowHeight]="'auto'"
            [reorderable]="reorderable" [scrollbarH]="true">
            <ngx-datatable-column name="Name">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.distanceId ? row.distanceId : "NA" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Distance">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.distance ? row.distance : "NA" }}
              </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Icon">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span *ngIf="row.icon">
                  <img (click)="swalImage(row.icon)" src="{{ row.icon ? row.icon : 'NA' }}" class="image_">
                </span>
                <span *ngIf='!row.icon'>--</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Sort order" width="200">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.sortOrder ? row.sortOrder : "NA" }}
              </ng-template>
            </ngx-datatable-column>
              
            <ngx-datatable-column name="Actions">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
             <app-edit #statusBtn (click)="openModal(row,updateStatus,statusBtn,'edit')"></app-edit>
                  <img style="height:21px;margin-left: 2px;cursor:pointer;" (click)="deleteCategoryAction(row.category)" src="../../../../assets/images/delete.png">
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <!--User table end -->
    <!-- </div>
  </div> -->
  <!-- status Update -->
    <!-- status Update -->
    <ng-template #updateStatus let-modal>
      <app-spinner *ngIf="isLoading"></app-spinner>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          <span>{{title}}</span>
        </h4>
        <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="modalForm" novalidate>
                <div class="row">
                  <div class="col-md-8 position-relative">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Heading</mat-label>
                        <input matInput placeholder="heading" formControlName="distanceId">
                      </mat-form-field>
                      <div *ngIf="modalForm?.controls.distanceId.errors && modalForm?.get('distanceId')?.touched"
                      class="error-wrappers position-absolute" style="top:50px">
                      <span class="error-login" *ngIf="modalForm.controls.distanceId.errors.required">* heading name is required</span>
                    </div>
                  </div>
                  <div class="col-md-4 position-relative">
                    <mat-form-field class="example-full-width w-100">
                      <mat-label>distance</mat-label>
                      <input matInput placeholder="distance" type="text" formControlName="distance">
                    </mat-form-field>
                    <div *ngIf="modalForm?.controls.distance.errors && modalForm?.get('distance')?.touched"
                    class="error-wrappers position-absolute" style="top:50px">
                    <span class="error-login" *ngIf="modalForm.controls.distance.errors.required">*distance is required</span>
                  </div>
                  </div>
                  
                </div>


                <div class="row">
                  <div class="col-md-8 position-relative" style="margin-top:5px">
                    <mat-form-field class="w-100">
                      <mat-label>Rule</mat-label>
                      <mat-select formControlName="ruleId">
                        <mat-option *ngFor="let item of ruleList" [value]="item.ruleId">
                          {{item.title}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="modalForm?.controls.ruleId.errors && modalForm?.get('ruleId')?.touched"
                  class="error-wrappers position-absolute" style="top:45px">
                  <span class="error-login" *ngIf="modalForm.controls.ruleId.errors.required">* rule is required</span>
                  </div>
                  </div>
                  
                  <div class="col-md-4 position-relative">
                    <mat-form-field class="example-full-width w-100">
                      <mat-label>sort order</mat-label>
                      <input matInput placeholder="order" type="number" min="1" formControlName="sortOrder">
                    </mat-form-field>
                    <div *ngIf="modalForm?.controls.sortOrder.errors && modalForm?.get('sortOrder')?.touched"
                    class="error-wrappers position-absolute" style="top:50px">
                    <span class="error-login" *ngIf="modalForm.controls.sortOrder.errors.required">*order is required</span>
                  </div>
                  </div>
                  
                </div>


                <div class="col-md-12 row align-items-center" *ngIf="!modalForm?.controls.distance.value =='' && !modalForm?.controls.distanceId.value =='' && !modalForm?.controls.ruleId.value =='' ">
                    <div class="col-md-6 text-left p-0">
                        <button class="btn btn-secondary" (click)="addImages()">Add image</button>
                    </div>
                    <div class="col-md-6 position-relative" *ngIf="showimg">
                        <img class="_img"  src="{{showimg}}" *ngIf="showimg">
                        <span class="position-absolute xout "  (click)="deleteImg()">x</span>
                        <!-- <span class="cancel">x</span> -->
                    </div>
                    <!-- <div *ngIf="modalForm?.controls.sortOrder.errors && modalForm?.get('sortOrder')?.touched"
                    class="error-wrappers position-absolute" style="top:50px">
                    <span class="error-login" *ngIf="modalForm.controls.sortOrder.errors.required">*order is required</span>
                  </div> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success rounded" [ngClass]="{disabled: !modalForm.valid}" (click)="postCategory()">
          Save Changes
        </button>
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
          Close
        </button>
      </div>
    </ng-template>
    <!-- status Update end -->
  <!-- status Update end -->
  
  <app-spinner *ngIf="isLoading"></app-spinner>