.cross-btn {
    position: absolute;
    padding: 0px 6px;
    background: darkgray;
    border-radius: 100%;
    right: -10px;
    font-size: 12px;
    top: -8px;
    cursor: pointer;
}
.plusIcon {
    position: relative; 
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle {
    top: -11px;
background: #2d2b2b;
height: 25px;
width: 43px;
border-radius: 20px;
right: -28px;
color: white;
font-size: 11px;
line-height: 26px;
}

.btn-warning {
    font-size: 12px;
background: #066;
color: white;
border: none;
outline: none;
}
.btn-warning:hover:focus {
    font-size: 12px;
background: #066;
color: white;
border: none;
outline: none;
}

.fa-plus {
    background: #e012aa;
    background-image: linear-gradient(315deg, #212f2f 0%, #d48aff 74%);
    padding: 19px;
    box-shadow: 2px 1px 6px 2px #ccc;
    height: 50px;
    width: 50px;
    color: #f7f7f7;
    border-radius: 50px;
    cursor: pointer;
}
.row_image {
    height:20px;    
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

body {
	background-color: #28223F;
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 7px 17px -9px rgba(0, 0, 0, 0.75);
    color: #6d6d6d;
    padding-top: 0px;
    position: relative;
    width:100%;
    text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
    border: 1px solid #9cb0b1;
    border-radius: 50%;
    padding: 7px;
}

button.primary {
    background: #56036b;
    box-shadow: 0px 2px 8px 0px #989898;
    border: 1px solid #921b9ac9;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 5px 7px;
    margin-bottom: 18px;
}

button.primary.ghost {
	background-color: transparent;
	color: #921b9ac9;
}
img {
    height: 100px;
    width: 100px;
    margin: 30px;
}

.edit_pic {
    position: absolute;
    top: 106px;
    right: 48px;
    font-size: 6px;
    height: 27px;
    width: 27px;
    border-radius: 27px;    
    background: #56036b;
    box-shadow: 0px 2px 8px 0px #989898;

}

#edit {
    margin-left: -5px;
    font-size: 7px;
    line-height: 14px;
}

#name {
    margin: 0px;
    margin-top: -20px;
    margin-bottom: 6px;
}

.cross-btn {
    position: absolute;
    padding: 0px 6px;
    background: darkgray;
    border-radius: 100%;
    right: -10px;
    font-size: 12px;
    top: -8px;
    cursor: pointer;
}
.plusIcon {
    position: relative; 
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fa-plus {
    background: #e012aa;
    background-image: linear-gradient(315deg, #212f2f 0%, #d48aff 74%);
    padding: 19px;
    box-shadow: 2px 1px 6px 2px #ccc;
    height: 50px;
    width: 50px;
    color: #f7f7f7;
    border-radius: 50px;
    cursor: pointer;
}
.inputDiv {
    width: inherit;
}

@media only screen and (max-width: 600px) {
    .uldiv {
      text-align: -webkit-center;
      display:inline!important;
      margin: 10px;
    }
  }
  .fontp {
      font-size: 11px;
  }
  .name span {
      text-align: left;
  }
  .disDiv {
    display:flex;
  }
  .img_detial{
      width: 50px;
      height: 50px;
      margin:0;
      padding:0;
  }
  .detail_label{
      font-weight: bold;
      color:darkcyan;
  }
  .table{
      font-size: 14px;
  }

  .addbtn {
    color: #fff;
    background-color: #3c3d3d;
    padding: 4px 30px 4px 30px;
    border-color: #3c3d3d;
  }
  .addbtn:active:focus {
    color: #fff;
    background-color: #3c3d3d;
    padding: 4px 30px 4px 30px;
    border-color: #3c3d3d;
  }