<!-- <div class="content-wrapper">
  <div class="container-fluid form-t1"> -->
<!-- filters -->
<!-- <div class=" row col-md-12 mt-3">
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Status</mat-label>
            <mat-select [(value)]="searchUserStatus">
              <mat-option value="all">All Users</mat-option>
              <mat-option value="active">Active</mat-option>
              <mat-option value="blocked">Blocked</mat-option>
              <mat-option value="suspended">Suspended</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Type</mat-label>
            <mat-select  [(value)]="searchBy">
              <mat-option value="all">Select</mat-option>
              
              <mat-option value="email">Email</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'email'" class="col-md-3 col-sm-3 ">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter email" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'mobile'" class="col-md-3 col-sm-3">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter mobile(w/o +1)" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="picker" placeholder="start date"
              [(ngModel)]="searchStartDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="endpicker" placeholder="end date"
              [(ngModel)]="searchEndDate" />
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div> -->
<!-- filters end -->

<!-- buttons -->
<!-- <div class="row col-md-12">
          <app-searchbtn (click)="searchFiltersBtn()"></app-searchbtn>
          <app-resetbtn (click)="onReset()"></app-resetbtn>
        </div> -->
<div class="col-md-12 row mt-3 p-0 m-0 align-items-center">
    <div class="col">
        <!-- <app-add-btn #statusBtn (click)="openModal('row',updateStatus,statusBtn,'add')" ></app-add-btn> -->
        <!-- <button #statusBtn (click)="openModal('row',updateStatus,statusBtn,'add')" class="btn btn-primary addbtn">Add</button> -->
    </div>
    <div class="col-md-8 " style="top:15px">
        <div class="form-group pagination " style="float:right">
            <label class="mr-3" style="line-height: 40px;">Records</label>
            <div>
                <select class="form-control" [(ngModel)]="pageLimit">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <ngx-datatable #table class="bootstrap" [rows]="list" [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [limit]="pageLimit" [rowHeight]="'auto'"
            [reorderable]="reorderable" [scrollbarH]="true">
            <ngx-datatable-column name="Participants type">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ row.participantType ? row.participantType : "NA" }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Access type">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ row.accessType ? row.accessType : "NA" }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Joined Participants">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>
                  <button [routerLink]="['/main/race-management/view-participant/', row.raceId]" class="btn btn-warning position-relative">participants 
                    <p class="position-absolute circle">  {{ row.joinedParticipants ? row.joinedParticipants : "0" }} </p>
                  </button>
                  
                
                </span>
                  
                </ng-template>
            </ngx-datatable-column>
        

            <ngx-datatable-column name="Start Time">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ row.date}} {{row.startTime}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="End Time">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ row.endTime}} {{row.endTime}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ row.status}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Details">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button #statusBtn class="addbtn" (click)="openModal(row,updateStatus,statusBtn)">Details</button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<ng-template #updateStatus let-modal>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>Race details</span>
        </h4>
        <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="col-md-12">
                <label class="detail_label">User Details</label>
                <div class="row m-0 p-0">
                    <div class="table-responsive text-nowrap">
                        <!--Table-->
                        <table class="table table-striped">
                
                            <!--Table head-->
                            <thead>
                              <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Dob</th>
                                <th>Gender</th>
                              </tr>
                            </thead>
                            <!--Table head--
                            <!--Table body-->
                            <tbody>
                              <tr>
                                <td> {{rowDetail['userDetails'].firstName}}</td>
                                <td>{{rowDetail['userDetails'].lastName}}</td>
                                <td>{{rowDetail['userDetails'].dob}} </td>
                                <td>{{rowDetail['userDetails'].gender}}</td>
                                
                            </tbody>
                            <!--Table body-->
  
                          </table>
                        <!--Table-->
                      </div>
            
                <!--Section: Live preview-->
                  
                </div>
            </div> 
            <div class="col-md-12">
                <label class="detail_label">Distance Details</label>
                <div class="row m-0 p-0">
                    <div class="table-responsive text-nowrap">
                        <!--Table-->
                        <table class="table table-striped">
                
                            <!--Table head-->
                            <thead>
                              <tr> 
                                <th>Distance</th>
                                <th>distanceId</th>
                                <th>icon</th>
                              </tr>
                            </thead>
                            <!--Table head--
                            <!--Table body-->
                            <tbody>
                              <tr>
                                <td> {{rowDetail['distanceDetails'].distanceDisplay}}</td>
                                <td>{{rowDetail['distanceDetails'].distanceId}} </td>
                                <td> <img class="img_detial" [src]="rowDetail['distanceDetails'].icon"> </td>
                                
                            </tbody>
                            <!--Table body-->
  
                          </table>
                        <!--Table-->
                      </div>
            
                <!--Section: Live preview-->
                  
                </div>
            </div>


            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h6 class="heading detail_label">Rules</h6>
                        </mat-panel-title>
                        <mat-panel-description>

                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="fontp" [innerHtml]="rowDetail.rules">{{rowDetail.rules}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-success rounded" (click)="postCategory()">
            Save Changes
        </button> -->
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
            Close
        </button>
    </div>
</ng-template>
<!-- status Update end -->
<!-- status Update end -->

<app-spinner *ngIf="isLoading"></app-spinner>