   <!-- trips -->
   <div class="outer" >
  
    <div class="row mt-4">

       <div class="col outl">
          <div routerLink="/main/user-management/view-user" class="al_box total_officers al_p-3">
             <ul>
                <li class="al_mr_first">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" width="60px" height="50px" class=""><g><g>
                     <g>
                        <path d="M438.09,273.32h-39.596c4.036,11.05,6.241,22.975,6.241,35.404v149.65c0,5.182-0.902,10.156-2.543,14.782h65.461    c24.453,0,44.346-19.894,44.346-44.346v-81.581C512,306.476,478.844,273.32,438.09,273.32z" data-original="#000000" class="active-path" style="fill:#063E3E" data-old_color="#000000"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M107.265,308.725c0-12.43,2.205-24.354,6.241-35.404H73.91c-40.754,0-73.91,33.156-73.91,73.91v81.581    c0,24.452,19.893,44.346,44.346,44.346h65.462c-1.641-4.628-2.543-9.601-2.543-14.783V308.725z" data-original="#000000" class="active-path" style="fill:#063E3E" data-old_color="#000000"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M301.261,234.815h-90.522c-40.754,0-73.91,33.156-73.91,73.91v149.65c0,8.163,6.618,14.782,14.782,14.782h208.778    c8.164,0,14.782-6.618,14.782-14.782v-149.65C375.171,267.971,342.015,234.815,301.261,234.815z" data-original="#000000" class="active-path" style="fill:#063E3E" data-old_color="#000000"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M256,38.84c-49.012,0-88.886,39.874-88.886,88.887c0,33.245,18.349,62.28,45.447,77.524    c12.853,7.23,27.671,11.362,43.439,11.362c15.768,0,30.586-4.132,43.439-11.362c27.099-15.244,45.447-44.28,45.447-77.524    C344.886,78.715,305.012,38.84,256,38.84z" data-original="#000000" class="active-path" style="fill:#063E3E" data-old_color="#000000"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M99.918,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,36.655,29.82,66.475,66.475,66.475    c9.298,0,18.152-1.926,26.195-5.388c13.906-5.987,25.372-16.585,32.467-29.86c4.98-9.317,7.813-19.946,7.813-31.227    C166.393,151.51,136.573,121.689,99.918,121.689z" data-original="#000000" class="active-path" style="fill:#063E3E" data-old_color="#000000"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M412.082,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,11.282,2.833,21.911,7.813,31.227    c7.095,13.276,18.561,23.874,32.467,29.86c8.043,3.462,16.897,5.388,26.195,5.388c36.655,0,66.475-29.82,66.475-66.475    C478.557,151.509,448.737,121.689,412.082,121.689z" data-original="#000000" class="active-path" style="fill:#063E3E" data-old_color="#000000"/>
                     </g>
                  </g></g> </svg>
                </li>
                <li class="al_color "><b>{{totalUsers}}</b>Total users</li>
             </ul>
          </div>
       </div>

       <div class="col outl" >
          <div routerLink="/main/celebrity-management/view-celebrity" class="al_box total_officers al_p-3">
             <ul>
                <li class="al_mr_first">
               
<svg xmlns="http://www.w3.org/2000/svg" height="50px" version="1.1" viewBox="0 -52 512.00003 512" width="60px" class="hovered-paths"><g><g id="surface1">
<path d="M 0 0 L 113.292969 0 L 113.292969 113.292969 L 0 113.292969 Z M 0 0 " style="fill:#063E3E" data-original="#FF73AF" class="hovered-path active-path" data-old_color="#FF73AF"/>
<path d="M 149.296875 0.00390625 L 512 0.00390625 L 512 113.296875 L 149.296875 113.296875 Z M 149.296875 0.00390625 " style="fill:#063E3E" data-original="#51FBFE" class="" data-old_color="#51FBFE"/>
<path d="M 0 147.007812 L 113.292969 147.007812 L 113.292969 260.300781 L 0 260.300781 Z M 0 147.007812 " style="fill:#063E3E" data-original="#FF73AF" class="hovered-path active-path" data-old_color="#FF73AF"/>
<path d="M 149.296875 147.007812 L 512 147.007812 L 512 260.300781 L 149.296875 260.300781 Z M 149.296875 147.007812 " style="fill:#063E3E" data-original="#51FBFE" class="" data-old_color="#51FBFE"/>
<path d="M 0 294.011719 L 113.292969 294.011719 L 113.292969 407.308594 L 0 407.308594 Z M 0 294.011719 " style="fill:#063E3E" data-original="#FF73AF" class="hovered-path active-path" data-old_color="#FF73AF"/>
<path d="M 149.296875 294.011719 L 512 294.011719 L 512 407.304688 L 149.296875 407.304688 Z M 149.296875 294.011719 " style="fill:#063E3E" data-original="#51FBFE" class="" data-old_color="#51FBFE"/>
<path d="M 255.675781 0.00390625 L 512 0.00390625 L 512 113.296875 L 255.675781 113.296875 Z M 255.675781 0.00390625 " style="fill:#063E3E" data-original="#00E8F2" class="" data-old_color="#00E8F2"/>
<path d="M 255.675781 147.007812 L 512 147.007812 L 512 260.300781 L 255.675781 260.300781 Z M 255.675781 147.007812 " style="fill:#063E3E" data-original="#00E8F2" class="" data-old_color="#00E8F2"/>
<path d="M 255.675781 294.011719 L 512 294.011719 L 512 407.304688 L 255.675781 407.304688 Z M 255.675781 294.011719 " style="fill:#063E3E" data-original="#00E8F2" class="" data-old_color="#00E8F2"/>
</g></g> </svg>
                </li>
                <li class="al_color "><b>{{totalPlayList}}</b>Total PlayList</li>
             </ul>
          </div>
       </div>

       <div class="col outl" >
          <div routerLink="/main/booking-management/view-booking" class="al_box total_officers al_p-3">
             <ul>
                <li class="al_mr_first">
      
                  <svg xmlns="http://www.w3.org/2000/svg" id="bold" enable-background="new 0 0 24 24" height="50px" viewBox="0 0 24 24" width="60px"><g><path d="m12.25 2h-1.1c-.33-1.15-1.39-2-2.65-2s-2.32.85-2.65 2h-1.1c-.41 0-.75.34-.75.75v1.5c0 .96.79 1.75 1.75 1.75h5.5c.96 0 1.75-.79 1.75-1.75v-1.5c0-.41-.34-.75-.75-.75z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/><path d="m14.25 3h-.25v1.25c0 1.52-1.23 2.75-2.75 2.75h-5.5c-1.52 0-2.75-1.23-2.75-2.75v-1.25h-.25c-1.52 0-2.75 1.23-2.75 2.75v12.5c0 1.52 1.23 2.75 2.75 2.75h7.38l.22-1.23c.1-.56.36-1.06.76-1.47l.8-.8h-8.16c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h9.5c.05 0 .09 0 .14.02h.01l3.6-3.6v-6.67c0-1.52-1.23-2.75-2.75-2.75zm-1 11.25h-9.5c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h9.5c.41 0 .75.34.75.75s-.34.75-.75.75zm0-3.25h-9.5c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h9.5c.41 0 .75.34.75.75s-.34.75-.75.75z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/><path d="m12.527 24c-.197 0-.389-.078-.53-.22-.173-.173-.251-.419-.208-.661l.53-3.005c.026-.151.1-.291.208-.4l7.425-7.424c.912-.914 1.808-.667 2.298-.177l1.237 1.237c.683.682.683 1.792 0 2.475l-7.425 7.425c-.108.109-.248.182-.4.208l-3.005.53c-.043.008-.087.012-.13.012zm3.005-1.28h.01z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/></g> </svg>
                </li>
                <li class="al_color "><b>{{totalCompanies}}</b>Total Company</li>
             </ul>
          </div>
       </div>

       <div class="col outl" >
          <div routerLink="/main/booking-management/view-booking" class="al_box total_officers al_p-3">
             <ul>
                <li class="al_mr_first">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" width="60px" height="50px" class="hovered-paths"><g><path style="fill:#063E3E" d="M452.71,157.937l-133.741-12.404L265.843,22.17c-3.72-8.638-15.967-8.638-19.686,0l-53.126,123.362  L59.29,157.937c-9.365,0.868-13.149,12.516-6.084,18.723l100.908,88.646l-29.531,131.029c-2.068,9.175,7.841,16.373,15.927,11.572  L256,339.331l115.49,68.576c8.087,4.802,17.994-2.397,15.927-11.572l-29.532-131.029l100.909-88.646  C465.859,170.453,462.074,158.805,452.71,157.937z" data-original="#FFDC64" class="" data-old_color="#FFDC64"/><g>
                     <path style="fill:#063E3E" d="M119.278,17.923c6.818,9.47,26.062,50.14,37.064,73.842c1.73,3.726-2.945,7.092-5.93,4.269   C131.425,78.082,98.96,46.93,92.142,37.459c-5.395-7.493-3.694-17.941,3.8-23.336C103.435,8.728,113.883,10.43,119.278,17.923z" data-original="#FFF082" class="" data-old_color="#FFF082"/>
                     <path style="fill:#063E3E" d="M392.722,17.923c-6.818,9.47-26.062,50.14-37.064,73.842c-1.73,3.726,2.945,7.092,5.93,4.269   c18.987-17.952,51.451-49.105,58.27-58.575c5.395-7.493,3.694-17.941-3.8-23.336C408.565,8.728,398.117,10.43,392.722,17.923z" data-original="#FFF082" class="" data-old_color="#FFF082"/>
                     <path style="fill:#063E3E" d="M500.461,295.629c-11.094-3.618-55.689-9.595-81.612-12.875c-4.075-0.516-5.861,4.961-2.266,6.947   c22.873,12.635,62.416,34.099,73.51,37.717c8.778,2.863,18.215-1.932,21.078-10.711   C514.034,307.928,509.239,298.492,500.461,295.629z" data-original="#FFF082" class="" data-old_color="#FFF082"/>
                     <path style="fill:#063E3E" d="M11.539,295.629c11.094-3.618,55.689-9.595,81.612-12.875c4.075-0.516,5.861,4.961,2.266,6.947   c-22.873,12.635-62.416,34.099-73.51,37.717c-8.778,2.863-18.215-1.932-21.078-10.711S2.761,298.492,11.539,295.629z" data-original="#FFF082" class="" data-old_color="#FFF082"/>
                     <path style="fill:#063E3E" d="M239.794,484.31c0-11.669,8.145-55.919,13.065-81.582c0.773-4.034,6.534-4.034,7.307,0   c4.92,25.663,13.065,69.913,13.065,81.582c0,9.233-7.485,16.718-16.718,16.718C247.279,501.029,239.794,493.543,239.794,484.31z" data-original="#FFF082" class="" data-old_color="#FFF082"/>
                  </g><path style="fill:#32C7C7" d="M285.161,67.03l-19.319-44.86c-3.72-8.638-15.967-8.638-19.686,0L193.03,145.532L59.29,157.937  c-9.365,0.868-13.149,12.516-6.084,18.723l100.908,88.646l-29.531,131.029c-2.068,9.175,7.841,16.373,15.927,11.572l15.371-9.127  C181.08,235.66,251.922,115.918,285.161,67.03z" data-original="#FFC850" class="active-path" data-old_color="#FFC850"/></g> </svg>
                </li>
                <li class="al_color "><b>{{totalSchool}}</b>Total School</li>
             </ul>
          </div>
       </div>

       
    </div>
    <!-- <hr> -->

  
   <!-- <div class="row mt-3">
      <div class="col outl" >
         <div routerLink="/main/celebrity-management/view-celebrity" class="al_box total_officers al_p-3">
            <ul>
               <li class="al_mr_first">
                
                  <svg xmlns="http://www.w3.org/2000/svg" id="_x33_0" enable-background="new 0 0 64 64" height="50px" viewBox="0 0 64 64" width="60px" class="hovered-paths"><g><circle cx="20" cy="36" fill="#ffeaa7" r="3" data-original="#FFEAA7" class="hovered-path active-path" style="fill:#FFEAA7"/><circle cx="9" cy="49" fill="#ffeaa7" r="2" data-original="#FFEAA7" class="hovered-path active-path" style="fill:#FFEAA7"/><path d="m22.15 18.09c-.54.56-1.31.91-2.15.91-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3c0 .82-.33 1.55-.85 2.09z" fill="#ffeaa7" data-original="#FFEAA7" class="hovered-path active-path" style="fill:#FFEAA7"/><path d="m41.63 22.22c-.99-.73-1.63-1.9-1.63-3.22 0-2.21 1.79-4 4-4s4 1.79 4 4-1.79 4-4 4c-.88 0-1.7-.29-2.37-.78z" fill="#b4dd7f" data-original="#B4DD7F" class="" style="fill:#063E3E" data-old_color="#b4dd7f"/><circle cx="55" cy="49" fill="#ffeaa7" r="2" data-original="#FFEAA7" class="hovered-path active-path" style="fill:#FFEAA7"/><circle cx="44" cy="36" fill="#b4dd7f" r="3" data-original="#B4DD7F" class="" style="fill:#063E3E" data-old_color="#b4dd7f"/><g fill="#a0d468"><path d="m12 37c0 1.13-.37 2.17-1 3-.91 1.21-2.37 2-4 2-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5z" data-original="#A0D468" class="" style="fill:#A0D468"/><circle cx="32" cy="8" r="6" data-original="#A0D468" class="" style="fill:#A0D468"/><path d="m57 32c2.76 0 5 2.24 5 5s-2.24 5-5 5c-1.63 0-3.09-.79-4-2-.63-.83-1-1.87-1-3 0-2.76 2.24-5 5-5z" data-original="#A0D468" class="" style="fill:#A0D468"/><path d="m32 46c4.42 0 8 3.58 8 8s-3.58 8-8 8-8-3.58-8-8 3.58-8 8-8z" data-original="#A0D468" class="" style="fill:#A0D468"/></g><circle cx="32" cy="54" fill="#b4dd7f" r="4" data-original="#B4DD7F" class="" style="fill:#063E3E" data-old_color="#b4dd7f"/><path d="m32 49c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zm0 8c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3z" data-original="#000000" class="" data-old_color="#000000" style="fill:#063E3E"/><path d="m33 8h2c0-1.654-1.346-3-3-3v2c.551 0 1 .449 1 1z" data-original="#000000" class="" data-old_color="#000000" style="fill:#063E3E"/><path d="m58 37h2c0-1.654-1.346-3-3-3v2c.551 0 1 .449 1 1z" data-original="#000000" class="" data-old_color="#000000" style="fill:#063E3E"/><path d="m52.858 41.33c1.078 1.032 2.536 1.67 4.142 1.67 3.309 0 6-2.691 6-6s-2.691-6-6-6-6 2.691-6 6c0 .982.242 1.907.662 2.727l-4.939 3.528-.643-3.855c1.147-.704 1.92-1.959 1.92-3.4 0-2.206-1.794-4-4-4s-4 1.794-4 4 1.794 4 4 4c.052 0 .099-.013.15-.015l.761 4.564-5.709 4.078c-1.454-1.944-3.668-3.286-6.202-3.567v-16.494l8.641-5.185c.706.382 1.502.619 2.359.619 2.757 0 5-2.243 5-5s-2.243-5-5-5-5 2.243-5 5c0 1.136.395 2.172 1.036 3.012l-7.036 4.222v-11.314c3.387-.488 6-3.401 6-6.92 0-3.86-3.14-7-7-7s-7 3.14-7 7c0 3.519 2.613 6.432 6 6.92v7.314l-7.433-4.46c.268-.537.433-1.134.433-1.774 0-2.206-1.794-4-4-4s-4 1.794-4 4 1.794 4 4 4c.83 0 1.601-.255 2.241-.689l8.759 5.255v20.493c-2.535.282-4.748 1.624-6.202 3.567l-5.709-4.078.761-4.564c.051.003.098.016.15.016 2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4c0 1.441.773 2.696 1.92 3.4l-.642 3.855-4.939-3.528c.419-.82.661-1.745.661-2.727 0-3.309-2.691-6-6-6s-6 2.691-6 6 2.691 6 6 6c1.606 0 3.064-.638 4.142-1.67l5.006 3.576-4.559 2.605c-.519-.898-1.479-1.511-2.589-1.511-1.654 0-3 1.346-3 3s1.346 3 3 3c1.443 0 2.649-1.024 2.935-2.382l6.005-3.431 5.838 4.17c-.496 1.114-.778 2.346-.778 3.643 0 4.962 4.038 9 9 9s9-4.038 9-9c0-1.297-.282-2.529-.778-3.644l5.838-4.17 6.005 3.431c.286 1.359 1.492 2.383 2.935 2.383 1.654 0 3-1.346 3-3s-1.346-3-3-3c-1.11 0-2.07.613-2.589 1.512l-4.559-2.605zm-10.858-5.33c0-1.103.897-2 2-2s2 .897 2 2-.897 2-2 2-2-.897-2-2zm2-20c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3zm-24 2c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0 16c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2zm-11 16c-.551 0-1-.449-1-1s.449-1 1-1 1 .449 1 1-.449 1-1 1zm-2-9c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm20-33c0-2.757 2.243-5 5-5s5 2.243 5 5-2.243 5-5 5-5-2.243-5-5zm5 53c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm23-13c.551 0 1 .449 1 1s-.449 1-1 1-1-.449-1-1 .449-1 1-1zm2-15c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z" data-original="#000000" class="" data-old_color="#000000" style="fill:#063E3E"/><path d="m4 37h2c0-.551.449-1 1-1v-2c-1.654 0-3 1.346-3 3z" data-original="#000000" class="" data-old_color="#000000" style="fill:#063E3E"/></g> </svg>
               </li>
               <li class="al_color "><b>{{totalSpecies}}</b>Total Species</li>
            </ul>
         </div>
      </div>

      <div class="col outl" >
         <div routerLink="/main/booking-management/view-booking" class="al_box total_officers al_p-3">
            <ul>
               <li class="al_mr_first">
             
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="60px" height="50px" class=""><g><g>
                     <g>
                        <path d="M147.836,95.581c-1.597-4.893-5.581-8.643-10.562-9.902l-31.011-7.91l-17.08-27.026c-5.508-8.701-19.863-8.701-25.371,0    l-17.08,27.026l-31.996,7.91c-4.98,1.26-8.965,5.01-10.562,9.902c-1.582,4.893-0.557,10.254,2.725,14.209l20.435,24.609    l-2.065,31.919c-0.322,5.127,1.992,10.078,6.152,13.096c4.175,3.032,10.565,3.735,15.37,1.802l29.707-11.821l29.722,11.821    c4.83,1.924,10.212,1.212,14.37-1.802c4.16-3.018,6.489-7.969,6.152-13.096l-2.08-31.919l20.449-24.609    C148.393,105.835,149.418,100.474,147.836,95.581z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M342.104,60.938c-1.729-5.303-6.226-9.199-11.719-10.151l-41.133-7.104l-19.482-36.3c-5.215-9.844-21.328-9.844-26.543,0    l-19.482,36.299l-41.118,7.104c-5.493,0.952-9.99,4.849-11.719,10.137c-1.714,5.303-0.366,11.104,3.516,15.103l29.092,29.941    l-5.947,41.323c-0.791,5.508,1.538,11.001,6.035,14.282c4.51,3.268,10.437,3.766,15.439,1.318l37.456-18.428l37.471,18.428    c4.966,2.446,10.942,1.948,15.439-1.333c4.497-3.267,6.826-8.76,6.035-14.268l-5.962-41.323l29.106-29.941    C342.47,72.026,343.817,66.226,342.104,60.938z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M508.836,95.581c-1.597-4.893-5.581-8.643-10.562-9.902l-32.011-7.91l-17.08-27.026c-5.508-8.701-19.863-8.701-25.371,0    l-17.08,27.026l-30.996,7.91c-4.98,1.26-8.965,5.01-10.562,9.902c-1.582,4.893-0.557,10.254,2.725,14.209l20.435,24.609    l-2.065,31.919c-0.322,5.127,1.992,10.078,6.152,13.096c4.175,3.032,9.565,3.735,14.37,1.802l29.707-11.821l29.722,11.821    c4.83,1.924,10.212,1.212,14.37-1.802c4.16-3.018,7.489-7.969,7.152-13.096l-3.08-31.919l21.449-24.609    C509.393,105.835,510.418,100.474,508.836,95.581z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M91,300v122h90V300H91z M151,377c0,8.291-6.709,15-15,15s-15-6.709-15-15v-32c0-8.291,6.709-15,15-15s15,6.709,15,15V377z    " data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M331,300v122h90V300H331z M391,377c0,8.291-6.709,15-15,15c-8.291,0-15-6.709-15-15v-32c0-8.291,6.709-15,15-15    c8.291,0,15,6.709,15,15V377z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M211,300v122h90V300H211z M271,377c0,8.291-6.709,15-15,15c-8.291,0-15-6.709-15-15v-32c0-8.291,6.709-15,15-15    s15,6.709,15,15V377z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/>
                     </g>
                  </g><g>
                     <g>
                        <path d="M466,210H46c-24.814,0-46,20.186-46,45v212c0,24.814,21.186,45,46,45h420c24.814,0,46-20.186,46-45V255    C512,230.186,490.814,210,466,210z M451,437c0,8.291-6.709,15-15,15H76c-8.291,0-15-6.709-15-15V285c0-8.291,6.709-15,15-15h360    c8.291,0,15,6.709,15,15V437z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#063E3E"/>
                     </g>
                  </g></g> </svg>
               </li>
               <li class="al_color "><b>{{totalScore}}</b>Total V-score</li>
            </ul>
         </div>
      </div>

      
   </div> -->
</div>
   <!-- <hr> -->


 <span class="bottom-line mt-3 mb-3"></span>
 <app-spinner *ngIf="isLoading"></app-spinner>