
  .detail_label{
      font-weight: bold;
      color:darkcyan;
  }
  .table{
      font-size: 14px;
  }
  .back_img{
      width: 30px;
      height: 30px;
      cursor: pointer;
  }

  .statusBtn {
    font-weight: 700;
  }

  .acceptedClass {
      color: #21bd00;
  }
  .rejectedClass {
    color: #d40000;
}

.joinedClass {
    color: #3c3939;
}