<!-- <div class="content-wrapper">
  <div class="container-fluid form-t1"> -->
<!-- filters -->
<!-- <div class=" row col-md-12 mt-3">
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Status</mat-label>
            <mat-select [(value)]="searchUserStatus">
              <mat-option value="all">All Users</mat-option>
              <mat-option value="active">Active</mat-option>
              <mat-option value="blocked">Blocked</mat-option>
              <mat-option value="suspended">Suspended</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Type</mat-label>
            <mat-select  [(value)]="searchBy">
              <mat-option value="all">Select</mat-option>
              
              <mat-option value="email">Email</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'email'" class="col-md-3 col-sm-3 ">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter email" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'mobile'" class="col-md-3 col-sm-3">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter mobile(w/o +1)" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="picker" placeholder="start date"
              [(ngModel)]="searchStartDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="endpicker" placeholder="end date"
              [(ngModel)]="searchEndDate" />
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div> -->
<!-- filters end -->

<!-- buttons -->
<!-- <div class="row col-md-12">
          <app-searchbtn (click)="searchFiltersBtn()"></app-searchbtn>
          <app-resetbtn (click)="onReset()"></app-resetbtn>
        </div> -->
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div class="col-md-12 row p-0 m-0 align-items-center">
          <img class="back_img" title="Back" (click)="onNavigateBack()" src="../../../../assets/images/return.png">
      </div>
        <div class="col-md-12 row  p-0 m-0 align-items-center">
            <div class="col">
              <label class="detail_label" >Participants Details</label>
                <!-- <app-add-btn #statusBtn (click)="openModal('row',updateStatus,statusBtn,'add')" ></app-add-btn> -->
                <!-- <button #statusBtn (click)="openModal('row',updateStatus,statusBtn,'add')" class="btn btn-primary addbtn">Add</button> -->
            </div>
            <div class="col-md-8 " style="top:15px">
                <div class="form-group pagination " style="float:right">
                    <label class="mr-3" style="line-height: 40px;">Records</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        
        </div>

        
        <div class="row">
            <div class="col-12">
                <ngx-datatable #table class="bootstrap" [rows]="participant" [loadingIndicator]="loadingIndicator"
                    [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [limit]="pageLimit" [rowHeight]="'auto'"
                    [reorderable]="reorderable" [scrollbarH]="true">
                    <ngx-datatable-column name="First Name">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.userDetails['firstName'] ? row.userDetails['firstName'] : "NA" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Last Name">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.userDetails['lastName'] ? row.userDetails['lastName'] : "NA" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Gender">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.userDetails['gender'] ? row.userDetails['gender'] : "NA" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <span class="statusBtn" [ngClass]="{'joinedClass': row['status'] == 'joined', 'acceptedClass': row['status'] == 'accepted', 'rejectedClass': row['status'] == 'rejected'}">{{row['status']}} </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions">
                      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <img src="../../../../assets/images/change.png"  #statusBtn (click)="updateUserStatusModal(row,updateStatus,statusBtn)" style="cursor:pointer;height:15px;margin-right:2px" > 
                       
                      </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        <ng-template #updateStatus let-modal>
          <app-spinner *ngIf="isLoading"></app-spinner>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              <span>Update status</span>
            </h4>
            <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <form [formGroup]="statusForm" novalidate>
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <label>Existing Status</label>
                          <div>
                            <input type="text" [disabled]="true" value="{{ rowDetail.status }}" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <label>New Status
                            <span class="required-sign">*</span>
                          </label>
                          <div>
                            <select class="form-control" formControlName="status" [ngClass]="{
                                  'error-border':
                                    statusFormSubmitted &&
                                    statusForm.controls.newStatus.errors
                                }">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{ item.id }}" *ngFor="let item of statusList">{{ item.name }}</option>
                            </select>
                            <div *ngIf="
                                  statusFormSubmitted &&
                                  statusForm.controls.newStatus.errors
                                " class="error-wrappers">
                              <span class="error" *ngIf="
                                    statusFormSubmitted &&
                                    statusForm.controls.newStatus.errors.required
                                  ">Required Field
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-success rounded" (click)="updateUserStatus()">
              Save Changes
            </button>
            <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
              Close
            </button>
          </div>
        </ng-template>
        <app-spinner *ngIf="isLoading"></app-spinner>