.addbtn {
    color: #fff;
    background-color: #3c3d3d;
    padding: 4px 30px 4px 30px;
    border-color: #3c3d3d;
  }
  .addbtn:active:focus {
    color: #fff;
    background-color: #3c3d3d;
    padding: 4px 30px 4px 30px;
    border-color: #3c3d3d;
  }