<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container"> 
    <!-- ============================================================== -->
    <!-- Topbar - style you can find in header.scss -->
    <!-- ============================================================== -->
    <mat-toolbar  class="topbar telative">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
       <div class="row m-0 p-0 w-100">
        <div class="col">
            <a class="" href="index.html">                <img src="../../../assets/images/medinetlogo.png" class="app-header-logo" alt="homepage">               <span fxFlex></span>
                </a>
                <button mat-icon-button (click)="onToolbarMenuToggle()" (click)="snav.toggle()" (click)="WindowResize($event)" value="sidebarclosed">
                   <mat-icon class="open-close-btn">menu</mat-icon>
               </button>        </div>        <div class="col logout_div">
            <div>
                <app-header></app-header>
            </div>
        </div>       </div>        <!-- ============================================================== -->
        <!-- sidebar toggle -->
        <!-- ============================================================== -->        <!-- ============================================================== -->
        <!-- app header component - style you can find in header.scss / header.component.ts-->
        <!-- ============================================================== -->    </mat-toolbar>    <!-- ============================================================== -->
    <!-- End Topbar - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'"  [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches" [class.menu-open]="isMenuOpen"
        [class.menu-close]="!isMenuOpen"  >        <mat-nav-list appAccordion>
            <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
                <a [class.activeInner] ="isMenuOpen == false" appAccordionToggle [routerLink]="[menuitem.state]" *ngIf="menuitem.type === 'link'">
                    <mat-icon *ngIf="!menuitem.svgIcon && !menuitem.iconUrl" [style.color]="menuitem.iconColor">{{ menuitem.icon }}</mat-icon> 
                    <ng-container *ngIf="menuitem.svgIcon">
                        <object type="image/svg+xml" class="svg-icon {{ menuitem.svgIcon }}"></object>
                    </ng-container>
                    <span *ngIf="menuitem.iconUrl"  class="icon mr-2"> <img src="{{menuitem.iconUrl}}"></span>
                    <span *ngIf="isMenuOpen == true"> {{ menuitem.name }}</span> 
                    <span *ngIf="isMenuOpen == true" fxFlex></span> 
                    <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
                </a>            </mat-list-item>        </mat-nav-list>        </mat-sidenav>
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-content class="page-wrapper">                <div class="page-content" [class.page-open]="isMenuOpen" [class.page-close]="!isMenuOpen">                        <router-outlet></router-outlet>                </div>            </mat-sidenav-content>
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
    </mat-sidenav-container>
</div>


