@import "../../../assets/styles/variable.scss";

.telative {
    background-color:$header;
}
.mat-icon-button.navBtn {
    width: 25px;
    img {
        max-width: 100%;
    }    &:focus {
        outline: none;
    }
}
.header-actions {
    .mat-menu-trigger {
        width: auto;
        color: #FFFFFF
;
    }
}::ng-deep .mymegamenu {
    button {
        outline: none;
    }
    a.mat-menu-item:hover {
        text-decoration: none !important;
        color: rgba(0, 0, 0, 0.87) !important;
    }
}.mat-link-button {
    width: auto;
}.app-header-logo {
    padding: 12px;
    margin-left: -5px;
    height: 70px;
    width: 70px;
}.link-class {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-right: 10px;
}.logout_div {
    text-align: end;
    padding: 15px;}
.open-close-btn {
    color: white;
    font-size: 28px;
}
.navBtn {
    top:13px
}
span.opcode1 {
    margin-right: 0;
    font-size: 13px;
    color: white;
}
.menu-open .mat-drawer-opened {
    width: 240px !important;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.menu-close {
    width: 70px !important;
    visibility: visible !important;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    transform:none;
}
.page-open {
    margin-left: 0px;
}
.page-close {
    margin-left: 67px;
}
.activeInner {
    width: 50px;
}.dummy1 {
    background: #EEEEEE
 !important;
    border-radius: 4px !important;
    color: #777777
 !important;
}.sidebar-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}.svg-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;    &.covid {
        background-image: url('/assets/images/covid.svg');
        background-repeat: no-repeat;
    }
    &.officer {
        background-image: url('/assets/images/officers_new.svg');
        background-repeat: no-repeat;
    }
    &.eo {
        background-image: url('/assets/images/police');
        background-repeat: no-repeat;
    }    &.terminal {
        background-image: url('/assets/images/terminal.svg');
        background-repeat: no-repeat;
    }    &.driver {
        background-image: url('/assets/images/driver.svg');
        background-repeat: no-repeat;
    }
    &.expense {
        background-image: url('/assets/images/expense.svg');
        background-repeat: no-repeat;
    }
    &.payout {
        background-image: url('/assets/images/payout.svg');
        background-repeat: no-repeat;
    }}

