input[type="file"] {
    overflow: hidden;
}
.al_input {
    width: 100%;
}
.form-group {
    margin-bottom:0px;
}
.errorinput {
        position: absolute;
        color: red;
        bottom: 0px;
        font-size: 11px;
}
.errorinputchip {
    position: absolute;
    color: red;
    bottom: -19px;
    font-size: 11px;
}
.tagInput {
    width:392px;
}
.submitBtn {
    color: #000;
    background-color: #ffce07;
    border-color: #ffce07;
}
.submitBtn:hover:focus {
    color: #000;
    background-color: #ffce07;
    border-color: #ffce07;
}