<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label class="btn btn-default">
        <input type="file" class="w-100" (change)="selectFile($event)">
      </label>
    </div>
    <div class="col-md-1">
      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
    </div>
    <div class="col-md file_head" *ngIf="selectedFiles">
      <span class="">File Size: {{fileSize}} </span>
      <span class="">File Type: {{fileType}} </span>
    </div>
  </div>
  <progress-bar *ngIf="readLocalStorageValue('remaining')" [progress]="readLocalStorageValue('remaining')"
    [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
  </progress-bar>
  <form [formGroup]="vedioForm">
    <div class="row justify-content-center">
      <div class="col-md-5 ">
        <div class="form-group position-relative">
          <!-- <input class="al_input" formControlName="title"  type="text"> -->
          <mat-form-field class="example-full-width" style="width:100%">
            <mat-label>title</mat-label>
            <input matInput placeholder="title" formControlName="title">
          </mat-form-field>
          <div
            *ngIf="vedioForm.controls['title'].invalid && (vedioForm.controls['title'].dirty || vedioForm.controls['title'].touched)"
            class="errorinput text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['title'].errors.required">
              * title is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group position-relative">
          <!-- <input class="al_input" formControlName="title"  type="text"> -->
          <mat-form-field class="example-full-width" style="width:100%">
            <mat-label>Description</mat-label>
            <input matInput placeholder="description" formControlName="description">
          </mat-form-field>
          <div
            *ngIf="vedioForm.controls['description'].invalid && (vedioForm.controls['description'].dirty || vedioForm.controls['description'].touched)"
            class="errorinput text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['description'].errors.required">
              * description is required.
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-5">
            <div class="form-group position-relative">
              <mat-form-field class="example-full-width" style="width:100%">
                <mat-label>highlights</mat-label>
                <input matInput placeholder="highlight" formControlName="highlightList">
              </mat-form-field> 
            </div>
          </div> -->
      <!-- song start -->
      <div class="col-md-5 mb-4">
        <div class="tag-input position-relative">
          <tag-input formControlName="song" [identifyBy]="'suggestionText'" (onSelect)="onsongelected($event)"
            (onAdd)="onSongItemAdded($event)" [secondaryPlaceholder]="'add song'" [placeholder]="'+ song'"
            (onTextChange)="onSongTextChange($event)" [maxItems]='2' [displayBy]="'suggestionText'">
            <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true" [autocompleteItems]="songList"
              [identifyBy]="'suggestionText'" [displayBy]="'suggestionText'">
            </tag-input-dropdown>
          </tag-input>
          <div
            *ngIf="vedioForm.controls['song'].invalid && (vedioForm.controls['song'].dirty || vedioForm.controls['song'].touched)"
            class="errorinputchip text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['song'].errors.required">
              * song is required.
            </div>
          </div>
        </div>
      </div>
      <!-- song end -->

      <!-- hashtag start -->
      <div class="col-md-5 mb-4">
        <div class="tag-input position-relative">
          <tag-input formControlName="hashtag" [identifyBy]="'suggestionText'" (onSelect)="onHashtagSelected($event)"
            (onAdd)="onHashtagItemAdded($event)" [secondaryPlaceholder]="'add hashtag'" [placeholder]="'+ hashtag'"
            (onTextChange)="onHashtagTextChange($event)" [maxItems]='2' [displayBy]="'suggestionText'">
            <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true" [autocompleteItems]="hashtagList"
              [identifyBy]="'suggestionText'" [displayBy]="'suggestionText'">
            </tag-input-dropdown>
          </tag-input>
          <div
            *ngIf="vedioForm.controls['hashtag'].invalid && (vedioForm.controls['hashtag'].dirty || vedioForm.controls['hashtag'].touched)"
            class="errorinputchip text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['hashtag'].errors.required">
              * hashtag is required.
            </div>
          </div>
        </div>
      </div>
      <!-- hashtag end -->

      <!-- venue start -->
      <div class="col-md-5 mb-4">
        <div class="tag-input position-relative">
          <tag-input formControlName="venue" [identifyBy]="'suggestionText'" (onSelect)="onVenueSelected($event)"
            (onAdd)="onVenueItemAdded($event)" [secondaryPlaceholder]="'add venue'" [placeholder]="'+ venue'"
            (onTextChange)="onVenueTextChange($event)" [maxItems]='2' [displayBy]="'suggestionText'">
            <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true" [autocompleteItems]="venueList"
              [identifyBy]="'suggestionText'" [displayBy]="'suggestionText'">
            </tag-input-dropdown>
          </tag-input>
          <div
            *ngIf="vedioForm.controls['venue'].invalid && (vedioForm.controls['venue'].dirty || vedioForm.controls['venue'].touched)"
            class="errorinputchip text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['venue'].errors.required">
              * venue is required.
            </div>
          </div>
        </div>
      </div>
      <!-- venue end -->

      <!-- choreographer start -->
      <div class="col-md-5 mb-4">
        <div class="tag-input position-relative">
          <tag-input formControlName="choreographer" [identifyBy]="'suggestionText'"
            (onSelect)="onChoreographerSelected($event)" (onAdd)="onChoreographerItemAdded($event)"
            [secondaryPlaceholder]="'add choreographer'" [placeholder]="'+ choreographer'"
            (onTextChange)="onChoreographerTextChange($event)" [maxItems]='2' [displayBy]="'suggestionText'">
            <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true"
              [autocompleteItems]="choreographerList" [identifyBy]="'suggestionText'" [displayBy]="'suggestionText'">
            </tag-input-dropdown>
          </tag-input>
          <div
            *ngIf="vedioForm.controls['choreographer'].invalid && (vedioForm.controls['choreographer'].dirty || vedioForm.controls['choreographer'].touched)"
            class="errorinputchip text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['choreographer'].errors.required">
              * choreographer is required.
            </div>
          </div>
        </div>
      </div>
      <!-- choreographer end -->


      <!-- composer start -->
      <div class="col-md-5 mb-4">
        <div class="tag-input position-relative">
          <tag-input formControlName="composer" [identifyBy]="'suggestionText'" (onSelect)="onComposerSelected($event)"
            (onAdd)="onComposerItemAdded($event)" [secondaryPlaceholder]="'add composer'" [placeholder]="'+ composer'"
            (onTextChange)="onComposerTextChange($event)" [maxItems]='2' [displayBy]="'suggestionText'">
            <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true" [autocompleteItems]="composerList"
              [identifyBy]="'suggestionText'" [displayBy]="'suggestionText'">
            </tag-input-dropdown>
          </tag-input>
          <div
            *ngIf="vedioForm.controls['composer'].invalid && (vedioForm.controls['composer'].dirty || vedioForm.controls['composer'].touched)"
            class="errorinputchip text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['composer'].errors.required">
              * composer is required.
            </div>
          </div>
        </div>
      </div>
      <!-- composer end -->

      <!-- dancer start -->
      <div class="col-md-5 mb-4">
        <div class="tag-input position-relative">
          <tag-input formControlName="dancer" [identifyBy]="'suggestionText'" (onSelect)="onDancerSelected($event)"
            (onAdd)="onDancerItemAdded($event)" [secondaryPlaceholder]="'add dancer'" [placeholder]="'+ dancer'"
            (onTextChange)="onDancerTextChange($event)" [maxItems]='2' [displayBy]="'suggestionText'">
            <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true" [autocompleteItems]="dancerList"
              [identifyBy]="'suggestionText'" [displayBy]="'suggestionText'">
            </tag-input-dropdown>
          </tag-input>
          <div
            *ngIf="vedioForm.controls['dancer'].invalid && (vedioForm.controls['dancer'].dirty || vedioForm.controls['dancer'].touched)"
            class="errorinputchip text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['dancer'].errors.required">
              * dancer is required.
            </div>
          </div>
        </div>
      </div>
      <!-- dancer end -->

      <!-- Genre start -->
      <div class="col-md-5 mb-4">
        <div class="tag-input position-relative">
          <tag-input formControlName="genre" [identifyBy]="'suggestionText'" (onSelect)="onGenreSelected($event)"
            (onAdd)="onGenreItemAdded($event)" [secondaryPlaceholder]="'add genre'" [placeholder]="'+ genre'"
            [maxItems]='2' [displayBy]="'suggestionText'">
            <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true" [autocompleteItems]="genreList"
              [identifyBy]="'genre'" [displayBy]="'genre'">
            </tag-input-dropdown>
          </tag-input>
          <div
            *ngIf="vedioForm.controls['genre'].invalid && (vedioForm.controls['genre'].dirty || vedioForm.controls['genre'].touched)"
            class="errorinputchip text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['genre'].errors.required">
              * genre is required.
            </div>
          </div>
        </div>
      </div>
      <!-- Genre end -->

      <!-- Style start -->
      <div class="col-md-5 mb-4">
        <div class="tag-input position-relative">
          <tag-input formControlName="style" [identifyBy]="'suggestionText'" (onSelect)="onStyleSelected($event)"
            (onAdd)="onStyleItemAdded($event)" [secondaryPlaceholder]="'add style'" [placeholder]="'+ style'" [maxItems]='2'
            [displayBy]="'suggestionText'">
            <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true" [autocompleteItems]="styleList"
              [identifyBy]="'style'" [displayBy]="'style'">
            </tag-input-dropdown>
          </tag-input>
          <div
            *ngIf="vedioForm.controls['style'].invalid && (vedioForm.controls['style'].dirty || vedioForm.controls['style'].touched)"
            class="errorinputchip text-left">
            <div class="errorShow" *ngIf="vedioForm.controls['style'].errors.required">
              * style is required.
            </div>
          </div>
        </div>
      </div>
      <!-- style end -->

     
      </div>
       <!-- MUsic start -->
       <div class="col-md-11 offset-1 p-0">
        <div class="col-md-6 p-0">
          <div class="tag-input position-relative">
            <tag-input class="tagInput" formControlName="music" [identifyBy]="'suggestionText'" (onSelect)="onMusicSelected($event)"
              (onAdd)="onMusicItemAdded($event)" [secondaryPlaceholder]="'add music'" [placeholder]="'+ music'"
              [maxItems]='2' [displayBy]="'suggestionText'">
              <tag-input-dropdown [appendToBody]="true" [showDropdownIfEmpty]="true" [autocompleteItems]="musicList"
                [identifyBy]="'music'" [displayBy]="'music'">
              </tag-input-dropdown>
            </tag-input>
            <div
              *ngIf="vedioForm.controls['music'].invalid && (vedioForm.controls['music'].dirty || vedioForm.controls['music'].touched)"
              class="errorinputchip text-left">
              <div class="errorShow" *ngIf="vedioForm.controls['music'].errors.required">
                * music is required.
              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- Music end -->


        <div class="col-sm-12 row mt-4 justify-content-center">
          <button class="btn btn-primary submitBtn w-25" (click)="submitForm()" [disabled]="!vedioForm.valid">Submit</button>
        </div>
  </form>
</div>



<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
  </div> -->