<section class="right-panel-wrapper">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
     <li class="nav-item">
       <a class="nav-link" routerLink="/main/school-management/pending-school" routerLinkActive="active"
         >Pending schools </a
       >
     </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/main/school-management/active-school" routerLinkActive="active"
          >Active schools </a
        >
      </li> 
    </ul>
    <!-- Tab panes -->
 
    <router-outlet></router-outlet>
  </section>