/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "./assets/styles/variable.scss";
// @import "~@ng-select/ng-select/themes/default.theme.css";

// ngx-datatable 
.table {
    .thead-sb {
      background: #1D2136;
      color: #ffffff;
    }
    th,
    td {
      vertical-align: middle;
    }
    th {
      font-weight: normal;
      letter-spacing: 1px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .table-hover tbody tr:hover {
    background-color: rgba(12, 55, 106, 0.15);
  }

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #1D2136;
    color: #fff;
  }

  .outer {
    background: #e0e2e27a;
    padding: 22px;
    border-radius: 7px;
  }

  .bottom-line {
    display:block;
     width:100%;
     border-top: 3px solid #ccc;
  }

body,
html {
  font-family: "Arial" !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.image_ {
  height: 41px;
  width: 40px;
  border-radius: 23px;
  cursor: pointer;
  
}

._img {
  height: 100px;
  width: 100px;
  border-radius: 60px;
}

.error-login{
  font-size: 11px;
  color: $error-message;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: $modal-submit;
  border-color: $modal-submit;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: $modal-submit;
  border-color: $modal-submit;
}
.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: 0 0 0 .2rem rgba(3, 77, 59, 0.253);
}
.btn-outline-success {
  color: $modal-submit;
  border-color: $modal-submit;
}
.disabled{
  cursor:not-allowed;
  background: gray;
  color: white;
}
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  background-color: $table-header;   
  color: #fff;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 10000 !important;
  }