.xout {
    background: #939090;
    height: 23px;
    width: 23px;
    text-align: center;
    border-radius: 50px;
    line-height: 21px;
    color: white;
    font-size: 15px;
    right: 63px;
    top: -8px;
    cursor: pointer;
}
.disabled{
    cursor:not-allowed;
    background: gray;
    color: white;
}