<!-- <div class="content-wrapper">
  <div class="container-fluid form-t1"> -->
    <!-- filters -->
    <!-- <div class=" row col-md-12 mt-3">
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Status</mat-label>
            <mat-select [(value)]="searchUserStatus">
              <mat-option value="all">All Users</mat-option>
              <mat-option value="active">Active</mat-option>
              <mat-option value="blocked">Blocked</mat-option>
              <mat-option value="suspended">Suspended</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2">
          <mat-form-field class="mat-form w-100">
            <mat-label>Search by Type</mat-label>
            <mat-select  [(value)]="searchBy">
              <mat-option value="all">Select</mat-option>
              
              <mat-option value="email">Email</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'email'" class="col-md-3 col-sm-3 ">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter email" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div *ngIf="searchBy == 'mobile'" class="col-md-3 col-sm-3">
          <mat-form-field class="example-full-width mat-form w-100">
            <input matInput placeholder="Enter mobile(w/o +1)" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="picker" placeholder="start date"
              [(ngModel)]="searchStartDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="col-md-2 col-sm-2 filters">
          <mat-form-field class="mat-form w-100">
            <input matInput readonly [matDatepicker]="endpicker" placeholder="end date"
              [(ngModel)]="searchEndDate" />
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div> -->
      <!-- filters end -->
  
      <!-- buttons -->
      <!-- <div class="row col-md-12">
          <app-searchbtn (click)="searchFiltersBtn()"></app-searchbtn>
          <app-resetbtn (click)="onReset()"></app-resetbtn>
        </div> -->
        <div class="col-md-12 row mt-3 p-0 m-0 align-items-center">
            <div class="col">
              <app-add-btn #statusBtn (click)="openModal('i',updateStatus,statusBtn,'add')" ></app-add-btn>
                <!-- <button #statusBtn (click)="openModal('row',updateStatus,statusBtn,'add')" class="btn btn-primary addbtn">Add</button> -->
            </div>
            <div class="col-md-8 " style="top:15px">
                <div class="form-group pagination " style="float:right">
                  <label class="mr-3" style="line-height: 40px;">Records</label>
                  <div>
                    <select class="form-control" [(ngModel)]="pageLimit">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
              </div>
          
        </div>
  
      <!-- buttons end -->
      <!--User table -->
      <div class="row">
        <div class="col-12">
<!-- 
          <ul class="uldiv" *ngFor="let data of ruleList,let i = index" style="display: inline-block;list-style: none;">
            <li>
              <div class="card-container" >
                <div>
                  
             <p id="name" [innerHTML]="data.rules">{{data.rules}}</p>
                </div>
                <div class="buttons">
                  <button (click)="openModal(data,updateStatus,statusBtn,'edit')" class="primary ghost">
                    Edit
                  </button>   
                  <button (click)="deleteAction(ruleList[i])" class="primary ghost">
                    Delete
                  </button>
                </div>
            
              </div>
            </li>
          </ul> -->

<ul *ngFor="let data of ruleList,let i = index" class="p-0">
  <mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="heading">{{data.title}}</h6>
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p [innerHtml]="data.rules">{{data.rules}}</p>
      <div class="row float-right">
        <button (click)="openModal(data,updateStatus,statusBtn,'edit')" class="btn btn-primary ">
          Edit
        </button>
        <button (click)="deleteAction(ruleList[i])" class="btn btn-secondary ml-2 mr-5">
          Delete
        </button>
      </div>
      
    </mat-expansion-panel>
       
  
  </mat-accordion>

</ul>
        
          




          <!-- <ngx-datatable #table class="bootstrap" [rows]="ruleList" [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [limit]="pageLimit" [rowHeight]="'auto'"
            [reorderable]="reorderable" [scrollbarH]="true">
            <ngx-datatable-column name="Category">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.title ? row.title : "NA" }}
              </ng-template>
            </ngx-datatable-column>
              
            <ngx-datatable-column name="rule">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.rules ? row.rules : "NA" }}
              </ng-template>
            </ngx-datatable-column>
              
            <ngx-datatable-column name="Actions">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
             <app-edit #statusBtn (click)="openModal(row,updateStatus,statusBtn,'edit')"></app-edit>
                  <img style="height:21px;margin-left: 2px;cursor:pointer;" (click)="deleteCategoryAction(row.category)" src="../../../../assets/images/delete.png">
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable> -->
        </div>
      </div>
      <!--User table end -->
    <!-- </div>
  </div> -->
  <!-- status Update -->
    <!-- status Update -->
    <ng-template #updateStatus let-modal>
      <app-spinner *ngIf="isLoading"></app-spinner>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          <span>{{title}}</span>
        </h4>
        <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
       
       
            <div class="row">
              <div class="col-md-3 titlediv align-self-center"> 
                <mat-form-field class="example-full-width mat-form w-100 titlefield ">
                  <input matInput placeholder="heading for rules" [(ngModel)]="titleName" />
                </mat-form-field>
            </div>
              <div class="col-md-9">
                <ckeditor [ngModelOptions]="{ standalone: true }" [(ngModel)]="ruleText" #myckeditor2="ngModel"
                  name="myckeditor2" required [config]="ckeConfig" debounce="500">
                </ckeditor>
              </div>
            </div>
      
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success rounded" (click)="postCategory()">
          Save Changes
        </button>
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
          Close
        </button>
      </div>
    </ng-template>
    <!-- status Update end -->
  <!-- status Update end -->
  
  <app-spinner *ngIf="isLoading"></app-spinner>